/* PHASE 6: Sidebar */

.profile-pic {
  position: relative;
  display: block;
  margin-top: -100px;
  border: 1px solid white;
  border-radius: 3%;
  cursor: pointer;
}

.profile-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.profile-info h3 {
  font-size: 24px;
}

.profile-nav {
  margin-bottom: 15px;
}

.profile-nav li {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
}

.profile-nav li:hover {
  background: #ccc;
}
